body {
    color: gray;
}

div, article, content, nav, footer {
    box-shadow: 0 0 10px 5px silver;
}

* {
    transition: all 0.3s ease;
}

#container {
    width: 1000px;
    padding: 15px;
    min-height: 600px;
    margin: 10px auto;
}

header {
    height: 100px;
    background-image: url(/Content/header.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: azure;
    text-align: right;
    font-size: 30px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

content {
    width: 700px;
    margin-left: 15px;
    min-height: 500px;
    float: left;
    box-shadow: none;
}

nav {
    width: 250px;
    min-height: 500px;
    float: left;
    margin-left: 20px;
}

.temizleyici {
    clear: both;
    box-shadow: none;
}

footer {
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: 20px;
}

#batuhan {
    width: 200px;
    height: 200px;
}

.icon {
    width: 25px;
    height: 25px;
}

fieldset {
    margin: 10px;
}

article {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

    article:hover {
        background-color: azure;
    }

.makale-alt, .makale-ust {
    box-shadow: none;
}

    .makale-ust a {
        text-decoration: none;
        color: gray;
    }

        .makale-ust a:hover {
            color: darkblue;
            cursor: pointer;
        }

#menu {
    list-style-type: none;
    font-weight: bold;
}

    #menu li {
        margin-bottom: 10px;
    }

        #menu li a {
            text-decoration: none;
            color: darkblue;
        }

            #menu li a:hover {
                color: gray;
                margin-left: 5px;
            }

fieldset input[type="text"] {
    height: 25px;
    width: 90%;
    margin: 10px;
}

input[type="text"]:focus {
    box-shadow: 0 0 10px 0px darkblue;
    color: darkblue;
    font-weight: bold;
}

.blogText:focus {
    box-shadow: 0 0 10px 0px darkblue;
    color: darkblue;
    font-weight: bold;
}

fieldset input[type="button"] {
    color: azure;
    background-color: darkblue;
    height: 25px;
    width: 70px;
    margin: 10px;
    border-radius: 4px;
    font-weight: bold;
}

    fieldset input[type="button"]:hover {
        color: darkblue;
        background-color: azure;
        cursor: pointer;
    }

.blogButton {
    color: azure;
    background-color: darkblue;
    height: 25px;
    width: 70px;
    margin: 10px;
    border-radius: 4px;
    font-weight: bold;
}

    .blogButton:hover {
        color: darkblue;
        background-color: azure;
        cursor: pointer;
    }


#articleHeader, #articleContent {
    box-shadow: none !important;
}

#displayArticle {
    box-shadow: none;
}

    #displayArticle:hover {
        background-color: white !important;
        color: black !important;
    }

#articleHeader span {
    font-weight: bold;
    margin-right: 10px;
}

#comment {
    box-shadow: none;
    border: 1px solid Black;
    margin-top: 5%;
    text-align: center;
    padding: 4%;
    box-sizing: border-box;
    margin-bottom:5%;
}

    #comment input[type="text"], #comment textarea {
        width: 70%;
    }
    .person-comment{
        box-shadow:none !important;
        text-align:center;
    }
    .person-comment div{
        box-shadow:none !important;
    }
